body {
      background-color: linen;
    }
    
    h1 {
      color: maroon;
      margin-left: 10px;
    } 

    .todo-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f1162100;
        border-radius: 4px;
        border: 1px solid brown;
    }

    .todo-item input[type="checkbox"] {
        margin-right: 10px;
        
    }
    .remove
    {
        background-color: transparent;
        
    }

    .todo-item label {
        flex-grow: 1;
        color: #333;
    }

    #todo-list
    {
        padding: 10px;
    }